.Home-form-container {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    background-color: white;
    border: 1px solid black;
    border-radius: 10px;
    text-align: center;
    box-sizing: border-box;
    box-shadow: 10;
}

.Form-input {
    display: inline;
    width: 90%;
    margin: 2%;
    background-color: whitesmoke;
    font-size: 1.25rem;
    border: none;
    border-bottom: 2px solid grey;
    padding: 2%;
}

.Form-input:hover {
    cursor: pointer;
    background-color: rgb(255, 252, 238);
}

.Form-submit-btn {
    background-color: rgb(67, 103, 180);
    color: whitesmoke;
    width: 50%;
    padding: 2%;
    margin-bottom: 8px;
    border-radius: 20px;
    border: none;
    font-size: 1.25rem;
    font-weight: bolder;
}

.Form-submit-btn:hover {
    border: 1px solid black;
    color: gold;
}

.Form-close-btn {
    position: absolute;
    right: 5%;
    padding: 2%;
    background-color: transparent;
    border: none;
    color: rgb(67, 103, 180);
    font-size: 1.25rem;
    font-weight: bolder;
}
